{
  "presets": [
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-jsx-remove-data-test-id"
      ]
    }
  }
}