@import '../../../../styles/utils.module';

.container {
  max-width: constant('maxWidth');
  margin: 0 auto;
  padding: 0 15px 40px 15px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  grid-gap: 1rem;
  justify-content: space-evenly;
}
