
.card {
  width: 220px;
  padding: 20px 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1020px){
  .card {
    width: 260px;
  }
}

@media screen and (max-width: 900px){
  .card {
    width: 220px;
  }
}

@media screen and (max-width: 780px){
  .card {
    width: 260px;
  }
}

@media screen and (max-width: 610px){
  .card {
    width: 90%;
    max-width: 340px;
  }
}