@import '../../../../styles/utils.module';

.container {
  height: 70px;
  margin: 25px 0;
}

.timeLineContainer {
  position: relative;
  background: #2a2b2c;
  width: 100%;
  height: 70px;
  opacity: 1;
  animation: opacity .4s ease-in-out;

  canvas {
    position: absolute;
    width: inherit;
    height: inherit;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timeLine {
  position: absolute;
  left: 0;
  top: 0;
  height: 70px;
  background-color: color('activeTimeline');
  transition: 170ms;
  transition-timing-function: ease-out;
}