
.songBar {
  position: fixed;
  height: 60px;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(calc(100vh - 60px));
  background-color: #2d2e2f;
  color: #aaabac;
  animation: appear 200ms ease-out;
}

@keyframes appear {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(calc(100vh - 60px));
  }
}

.container {
  max-width: 970px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
}

.subContainer {
  display: flex;
  align-items: center;
}

.title {
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 40%;
  overflow: hidden;
}