@import '../../../../styles/utils.module';

.songBar {
  display: block;
  position: fixed;
  bottom: -1px;
  z-index: 100;
  transform: translateZ(0);
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, .1);
  height: 60px;
  width: 100%;
  left: 0;
  background-color: #2d2e2f;
  color: text('primary');
  animation: appear 200ms ease-out;
}

@keyframes appear {
  from {
    bottom: -80px;
  }
  to {
    bottom: -10px;
  }
}

.container {
  max-width: constant('maxWidth');
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
}

.subContainer {
  display: flex;
  align-items: center;
}

.title {
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 35%;
  overflow: hidden;
}