$colors: (
        'primary': #262728,
        'secondary': #1d1e1f,
        'accent': #4d4e4f,
        'background': #262728,
);

$timeLine: (
        'active': #506f43
);

$text: (
        'primary': #aaabac,
        'secondary': #d6d6d6,
        'accent': #7d7e7f,
        'title': #bdbebf
)