@import '../../../styles/utils.module';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: text('secondary');
  width: 300px;
}

.link {
  padding: 5px 10px 8px 10px;
  border: 1px solid color('secondary');
  margin: 25px 0;
  animation: border 1.5s ease-in 0s infinite alternate;
}

@keyframes border {
  from {
    border-color: color('secondary');
  }
  to {
    border-color: #ffffff;
  }
}