
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #d6d6d6;
  width: 300px;
}

.link {
  padding: 5px 10px 8px 10px;
  border: 1px solid #1d1e1f;
  margin: 25px 0;
  animation: border 1.5s ease-in 0s infinite alternate;
}

@keyframes border {
  from {
    border-color: #1d1e1f;;
  }
  to {
    border-color: #ffffff;
  }
}