@import '../../../styles/utils.module';

.container {
  display: flex;
  position: relative;
  margin: 0 auto;
  height: 220px;
  background: color('secondary');
  color: #ffffff;
  width: 960px;
  box-shadow: 4px 6px 8px darken(color('secondary'), 1%);

  & + & {
    margin-top: 30px;
  }
}

.coverContainer {
  position: relative;
  height: 100%;
  width: 220px;
  background-color: rgb(77, 78, 79);
}

.cover {
  position: absolute;
  height: 100%;
}