
.container {
  position: relative;
  margin-bottom: 20px;
  height: 220px;
  background: #1d1e1f;
  display: flex;
  color: #ffffff;
}

.coverContainer {
  position: relative;
  height: 100%;
  width: 220px;
  background-color: rgb(77, 78, 79);
}

.cover {
  position: absolute;
  height: 100%;
}