
.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.08);
}