@import '../../../../styles/utils.module';

.timeLine {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #414a3e;
}

.currentTime {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: timeLine('active');
  transition: 170ms;
  transition-timing-function: ease-out;
}