@import '../../../../styles/utils.module';

.container {
  input[type=range] {
    -webkit-appearance: none;

    margin: 3.5px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    background: color('accent');
    border-radius: 0;
    border: 0 solid rgba(0, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 rgba(77, 78, 79, 0), 0 0 0 rgba(90, 91, 92, 0);
    border: 0 solid color('accent');
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: color('secondary');
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(77, 78, 79, 0), 0 0 0 rgba(90, 91, 92, 0);
    border: 0 solid color('accent');
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: color('secondary');
    cursor: pointer;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0 0 0 rgba(77, 78, 79, 0), 0 0 0 rgba(90, 91, 92, 0);
    border: 0 solid color('accent');
    width: 10px;
    border-radius: 50px;
    background: color('secondary');
    cursor: pointer;
    height: 3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #505152;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    background: color('accent');
    border-radius: 0;
    border: 0 solid rgba(0, 1, 1, 0);
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #4a4b4c;
    border: 0 solid rgba(0, 1, 1, 0);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: color('accent');
    border: 0 solid rgba(0, 1, 1, 0);
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  }
  input[type=range]:focus::-ms-fill-lower {
    background: color('accent');
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #505152;
  }

}