
.subHeader {
  background-color: #1d1e1f;
  margin-bottom: 40px;
  min-height: 140px;
  padding: 20px 20px 0 20px;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 15px auto;
}

.section {
  color: #7d7e7f;
}

.title {
  color: #d6d6d6;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.1666666667;
  height: 45px;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}