
.cover {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.imageContainer {
  position: relative;
  width: 100%;
  background-color: rgb(77, 78, 79);

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  height: 120px;
  background-color: #1d1e1f;
  padding: 15px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}

.username {
  color: #626364;
}

.title {
  color: #98999a;
}