@import '../../../../styles/utils.module';

.container {
  display: flex;
  flex-direction: column;
  border-left: 4px solid rgba(0,0,0,.1);
  padding: 14px 30px 0 30px;
  width: calc(100% - 260px);
}

.actions {
  display: flex;
  color: #5d5e5f;
  fill: color('accent');
}

%text {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 85%;
  overflow: hidden;
}

.username {
  @extend %text;
  color: text('accent');
}

.title {
  @extend %text;
  color: text('title');
  margin-top: 5px;
}